@import "bourbon";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* parisienne-regular - latin */
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src:
    url('parisienne-v12-latin-regular.woff2'),
    url('parisienne-v12-latin-regular.woff'),
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url('roboto-v29-latin-regular.woff2') format('woff2'),
    url('roboto-v29-latin-regular.woff') format('woff');
}

body {
  font-family: 'Roboto';
}

* {
  background-color: rgb(249, 249, 249);
  border-radius: 4px;
}

.signInGrid {
  display: grid;
  grid-template-columns: 1fr 497px 350px 1fr;
  grid-template-rows: 64px 780px 1fr;
  justify-content: center;
}

.signInColumn {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: stretch stretch;
}

.signInColumn * {
  background-color: rgb(255, 255, 255);
}

.signInForm {
  display: block;
}

.signInTitle {
  display: block;
  text-align: center;
  font-family: 'Parisienne';
  font-size: 50px;
}

.signInTitleWithImg {
  display: block;
  text-align: center;
}

.signInUsernameInput {
  display: block;
  margin: 0 auto;
  text-indent: 15px;
  margin-bottom: 8px;
}

.signInUsernameInputContainer {
  position: relative;
  display: inline;
}

.signInUsernameInputContainer:before {
  content: "username";
  position: absolute;
  top: 15px;
  left: 56px;
  font-size: 14px;
  color: rgb(151, 151, 151);
  z-index: 1;
  transition: ease-out;
  transition-duration: .2s;
  transition-property: all;
  pointer-events: none;
}

.signInUsernameInputContainer.transition:before {
  top: 2px;
  left: 40px;
  font-size: 12px;
}

.signInPasswordInput {
  display: block;
  margin: 0 auto;
  text-indent: 15px;
}

.signInPasswordInputContainer {
  position: relative;
  display: inline;
}

.signInPasswordInputContainer:before {
  content: "password";
  position: absolute;
  top: 15px;
  left: 56px;
  font-size: 14px;
  color: rgb(151, 151, 151);
  z-index: 1;
  transition: ease-out;
  transition-duration: .2s;
  transition-property: all;
  pointer-events: none;
}

.signInPasswordInputContainer.transition:before {
  top: 2px;
  left: 40px;
  font-size: 12px;
}

.signInColumn input {
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(249, 249, 249);
  min-height: 38px;
  min-width: 268px;
}

.signInColumn input:focus {
  outline: none;
  border: 2px solid rgb(151, 151, 151)
}

.signInButton {
  display: block;
  margin: 0 auto;
  background-color: #0095f6;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  min-height: 30px;
  min-width: 276px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  transition-duration: .5s;
  transition-property: all;
}

.signInButton:disabled {
  background-color: rgb(164, 215, 251);
  cursor: default;
}

.demoUserButton {
  display: block;
  margin: 0 auto;
}

.demoUserButton {
  display: block;
  margin: 0 auto;
  background-color: #0095f6;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  min-height: 30px;
  min-width: 276px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

button.showHideButton {
  position: absolute;
  top: 1px;
  left: 260px;
  font-size: 14px;
  color: rgb(38, 38, 38);
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  min-height: 38px;
  min-width: 50px;
  cursor: pointer;
  border: none;
}

.line {
  display: inline-block;
  height: 1px;
  width: 105px;
  background-color: rgb(219, 219, 219);
}

.or {
  text-align: center;
  color: rgb(142, 142, 142);
  margin-left: 18px;
  margin-right: 18px;
}

.orContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.signInContainer {
  border: 1px solid rgb(211, 211, 211);
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.signupLinkContainer {
  border: 1px solid rgb(211, 211, 211);
}

.signupText {
  text-align: center;
}

.createAccountLink {
  margin-left: 8px;
}

.getTheApp {
  text-align: center;
}

.downloadLinks {
  text-align: center;
}

.downloadLinks img {
  display: inline-block;
  width: auto;
  max-height: 40px;
}

.appleLogo {
  margin-right: 8px;
}

.imageColumn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: stretch stretch;
  background-image: image-url('phone_background.png');
  background-size: 465px, auto;
  background-repeat: no-repeat;
  position: relative;
}

.phoneImg {
  transition-property: all;
  transition-duration: .7s;
  height: auto;
  width: 250px;
  position: absolute;
  top: 26px;
  right: 88px;
  background-color: rgba(0, 0, 0, 0);
}