$gray-bg: rgb(250, 250, 250);
$white: rgb(255, 255, 255);

$gray-border: rgb(219, 219, 219);

$black: rgb(38, 38, 38);
$gray-font: rgb(142, 142, 142);

$dark-blue: rgb(0, 149, 246);
$light-blue: rgb(178, 223, 252);

$red: rgb(237, 73, 86);