.postItem {
  border: 2px $gray-border solid;
  box-sizing: content-box;
  background-color: $white;
  margin-bottom: 30px;
  border-radius: 10px;
}

.posterName {
  display: inline-block;
  padding-left: 10px;
  padding-right: 15px;
}

.likesNum {
  display: inline-block;
  font-size: 20px;
  color: $black;
}

.heartContainer {
  display: inline-block;
  margin-left: 10px;
  margin-right: 15px;
}

.heartIcon {
  color: $black;
  font-size: 20px;
}

.heartIcon.filled {
  color: $red;
}

.postEditInput, .editPostBtn, .postDescription {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.posterNameForDescription {
  padding-right: 10px;
  font-weight: bold;
}

.descriptionBlock {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.commentForm {
  width: 100%;
  position: relative;
  border-top: 2px solid $gray-border;
}

.commentContainer {
  padding: 10px;
  padding-bottom: 10px;
}

.commenterUsername {
  padding: 0;
  margin: 0;
  padding-right: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.commentBody {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 16px;
}

.commentCreator {
  border: none;
  font-size: 16px;
  width: 400px;
  min-height: 48px;
  overflow-wrap: break-word;
  outline: none;
  text-indent: 10px;
}

.btn-post {
  font-size: 16px;
  color: $dark-blue;
  background-color: transparent;
  font-weight: bold;
  border: none;
  position: absolute;
  top: 16px;
}

.currentUserPhoto {
  height: 56px;
  width: 56px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: $black;
}

.fullname {
  color: $gray-font;
}

.usernameAndFullname h2 {
  margin: 0;
}

.currentUserProfileLink h2 {
  margin-bottom: 10px;
}

.usernameAndFullname {
  display: inline-block;
  font-size: 12px;
}

.btn-logout {
  border: none;
  color: $dark-blue;
  background-color: transparent;
  display: inline-block;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}

.logoutForm {
  width: fit-content;
  position: absolute;
  right: 20px;
  top: 20px;
}

.currentUserContainer {
  position: relative;
}

.currentUserContainer * {
  font-size: 16px;
}

.fullnameOtherUser {
  color: $gray-font;
}

.otherUserImg {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid $black;
  display: inline-block;
  margin-right: 20px;
}

.usernameOtherUser, .fullnameOtherUser {
  display: block;
  margin: 0;
  font-size: 12px;
}

.namesContainer link {
  margin: 0;
}

.suggestions {
  margin-top: 16px;
  color: $gray-font;
  font-size: 16px;
  font-weight: bold;
}

.namesContainer {
  display: inline-block;
}

.btn-follow {
  color: $dark-blue;
  border: none;
  background-color: transparent;
  position: absolute;
  font-weight: bold;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.followUserContainer {
  position: relative;
  margin-bottom: 12px;
}

.myInfo {
  margin-top: 48px;
  color: $gray-font;
  font-size: 16px;
  font-weight: bold;
}

.myIcon {
  font-size: 24px;
  color: $light-blue;
}

.myIcon:hover {
  color: $dark-blue;
}

.followInterface {
  display: inline-block;
}

.posterName {
  margin-right: 50px;
}

.btn-2 {
  display: inline-block;
  color: $red;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 70%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bolder;
  font-variant: small-caps;
}

.btn-2:hover {
  opacity: 100%;
}

.btn-divider {
  display: inline-block;
  color: $red;
  border: none;
  background-color: transparent;
  font-weight: bolder;
}

.postUserImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid $black;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}